/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos toda la altura de la ventana */
}

header {
    background-color: #3bfa01;
    color: #fffefe;
    padding: 1em;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
    flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #3bfa01;
    color: #fffefe;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Ancho máximo para evitar que se extienda demasiado en pantallas grandes */
    margin: 0 auto; /* Centra el contenido */
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

/* Estilos específicos para el mapa en contacto.html */
#map {
    height: 400px;
    width: 100%;
}
